.trial {
  color: hsla(7, 91%, 26%, 0.788);
}

:root {
  --bg: #cc3825ec;
  --charles: #d42c16c4;
  --link_bg: #640505;
  --title: #442502;
  --link_hover: #c42510d5;

  --grey: #cec9c9;
  --offWhite: #ededed;
}
